<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddItemController</servlet-name>
  	<display-name>AddItemController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.AddItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewItemController</servlet-name>
  	<display-name>ViewItemController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.ViewItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewUpdateController</servlet-name>
  	<display-name>ViewUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.ViewUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchItemController</servlet-name>
  	<display-name>FetchItemController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.FetchItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateItemController</servlet-name>
  	<display-name>UpdateItemController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.UpdateItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteItemController</servlet-name>
  	<display-name>DeleteItemController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.DeleteItemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddItemTimeController</servlet-name>
  	<display-name>AddItemTimeController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.AddItemTimeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewItemTimeController</servlet-name>
  	<display-name>ViewItemTimeController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.ViewItemTimeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewItemByTimeController</servlet-name>
  	<display-name>ViewItemByTimeController</display-name>
  	<description></description>
  	<servlet-class>com.rms.controller.ViewItemByTimeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddItemController</servlet-name>
  	<url-pattern>/AddItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewItemController</servlet-name>
  	<url-pattern>/ViewItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewUpdateController</servlet-name>
  	<url-pattern>/ViewUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchItemController</servlet-name>
  	<url-pattern>/FetchItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateItemController</servlet-name>
  	<url-pattern>/UpdateItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteItemController</servlet-name>
  	<url-pattern>/DeleteItemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddItemTimeController</servlet-name>
  	<url-pattern>/AddItemTimeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewItemTimeController</servlet-name>
  	<url-pattern>/ViewItemTimeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewItemByTimeController</servlet-name>
  	<url-pattern>/ViewItemByTimeController</url-pattern>
  </servlet-mapping>
 </web-app>
